@keyframes intro {
    from {
        transform: translateX(1000px);
    }
    to {
        transform: translateX(0px);
    }
}
.void{
    animation: intro 2.5s;
}
.logo {
    animation-name: intro;
    animation-duration: 1s;
}
.greeting {
    animation-name: intro;
    animation-duration: 1.5s;
}
.cover {
    animation: intro 2s;

}
.container1 {
    display: flex;
    justify-content: center;
    padding: 5px;
    justify-content: space-around;
    background-color: rgb(87, 80, 80);
    border: solid black;
    border-radius:15px ;
    margin-left: 40px;
    margin-right: 40px;
    animation: intro 1.5s;
}
.containerMain {
    display: flex;
    justify-content: center; 
    flex-direction: row;
    flex-wrap: wrap;
    border: solid black;
    padding: 15px;
    margin: 40px;
    border-radius: 20px;
    animation: intro 1.3s;
    background-color: rgb(92, 83, 83);
}
